.content {
  align-items: center;
  background-color: #fff;
  display: flex;
  height: 112px;
  justify-content: center;
}

.content a,
.content p {
  font-size: 16px;
  font-weight: 500;
}

.profile {
  height: 56px;
  width: 56px;
}

@media (max-width: 40rem) {
  .content {
    flex-direction: column;
    height: 216px;
    justify-content: space-around;
    padding-bottom: 1rem;
    text-align: center;
  }

  .content p {
    font-size: 14px;
  }

  .content a {
    line-height: 24px;
    width: 212px;
  }
}
