.content div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 392px;
}

.content p {
  width: 444px;
}

.content img {
  height: 392px;
  width: 584px;
}

@media (max-width: 40rem) {
  .content {
    flex-direction: column-reverse;
    text-align: center;
    width: 80%;
  }
  .content img {
    height: 204px;
    width: 304px;
  }

  .content p {
    width: 328px;
  }

  .content div {
    align-items: center;
    height: 460px;
    margin-top: 1.5rem;
    width: 100%;
  }
}
