.content {
  flex-direction: column;
  height: 200px;
}

.content h3 {
  font-size: 22px;
}

.content p {
  font-size: 18px;
}

@media (max-width: 40rem) {
  .content {
    text-align: center;
    width: 90%;
    height: 400px;
  }

  .content p {
    width: 328px;
    font-size: 16px;
  }
}
