.content {
  flex-direction: column;
  height: 310px;
  text-align: center;
  width: 55%;
}

.content p {
  width: 784px;
}

.content img {
  height: 96px;
  width: 216px;
}

@media (max-width: 40rem) {
  .content {
    height: 420px;
    width: 90%;
  }

  .content h3,
  .content p {
    width: 328px;
  }
}
