.content {
  flex-direction: column;
  height: 270px;
  text-align: center;
  width: 55%;
}

.content img {
  height: 96px;
  width: 216px;
}

@media (max-width: 40rem) {
  .content {
    height: 420px;
    width: 90%;
  }

  .content div {
    align-items: center;
    height: 460px;
    margin-top: 1.5rem;
    width: 100%;
  }
}
