.content p {
  color: #3d3d3d;
  font-size: 12px;
  font-weight: 400;
}

@media (max-width: 40rem) {
  .content {
    align-items: center;
    border-top: 1px solid #dfdfdf;
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
    width: 95%;
  }
}
