.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 45%;
  justify-content: space-between;
}

.content p {
  font-size: 18px;
  line-height: 24px;
}

@media (max-width: 40rem) {
  .content {
    margin-bottom: 1rem;
    text-align: center;
    width: 95%;
  }

  .content p {
    font-size: 16px;
  }
}
