.section {
  align-items: center;
  background-color: rgb(119, 45, 193);
  background-image: url('../../../assets/bg.png');
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  height: 616px;
  justify-content: center;
}

.content {
  align-items: center;
  display: flex;
  height: 60%;
  justify-content: space-between;
  margin-top: 3rem;
  width: 82%;
}

.player {
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.content p {
  margin-top: 0.5rem;
}

.dinamic {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  width: 50%;
}

.playerDiv {
  margin-top: 3rem;
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.playerDiv p {
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  text-decoration: underline;
}

.r {
  align-items: flex-start;
  display: flex;
  height: 85%;
  justify-content: flex-start;
  width: 34.5%;
}

.img {
  height: 350px;
  width: 316px;
}

@media (max-width: 40rem) {
  .section {
    background-position: 60%;
    background-size: cover;
    height: 540px;
    align-items: center;
  }

  .content {
    width: 90%;
    height: 80;
  }

  .r {
    display: none;
  }

  .dinamic {
    height: 100%;
    margin-top: 4rem;
    justify-content: space-between;
    text-align: center;
    display: flex;
    width: 100%;
    align-items: center;
  }

  .playerDiv {
    margin-top: 2rem;
    text-align: center;
    align-self: center;
    justify-self: flex-end;
    height: 20%;
    width: 100%;
    margin-top: 2rem;
  }
}

@media (min-width: 1441px) {
  .section {
    background-size: cover;
  }
}
