.content {
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.content div {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-between;
  width: 80%;
}

.content p {
  width: 784px;
}

.content img {
  height: 392px;
  margin-top: 4rem;
  width: 984px;
}

@media (max-width: 40rem) {
  .content {
    text-align: center;
    width: 90%;
  }

  .content h3 {
    width: 243px;
  }

  .content p {
    width: 328px;
  }
  .content img {
    display: none;
  }

  .content div {
    align-items: center;
    height: 370px;
    width: 90%;
  }
}
