.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 70%;
}

.content div {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-between;
  width: 80%;
}

.content img {
  height: 392px;
  margin-top: 4rem;
  width: 100%;
}

.content h3 {
  color: #3d3d3d;
  font-size: 28px;
  font-weight: 500;
}

.content p {
  color: #3d3d3d;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
}

.content a {
  color: #5e20a4;
  font-size: 16px;
  font-weight: 500;
}

@media (max-width: 40rem) {
  .content {
    text-align: center;
    width: 90%;
  }
  .content img {
    display: none;
  }
  .content h3 {
    font-size: 22px;
    line-height: 32px;
  }
  .content p {
    font-size: 16px;
    line-height: 28px;
  }

  .content div {
    align-items: center;
    height: 370px;
    width: 90%;
  }
}
