.content img {
  height: 336px;
  width: 456px;
}

.content div {
  display: flex;
  flex-direction: column;
  height: 270px;
  justify-content: space-between;
  width: 47%;
}

.content div p {
  width: 484px;
}

@media (max-width: 40rem) {
  .content {
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 85%;
    text-align: center;
  }

  .content div {
    width: 100%;
    height: auto;
    text-align: center;
    align-items: center;
  }
  .content div h3 {
    width: 226px;
  }

  .content div p {
    width: 328px;
    font-size: 16px;
  }
  .content img {
    height: 230px;
    width: 312px;
  }

  .content div {
    height: 400px;
    margin-top: 3rem;
    width: auto;
  }
}
