.content img {
  height: 336px;
  width: 456px;
}

.content div {
  display: flex;
  flex-direction: column;
  height: 270px;
  justify-content: space-between;
  width: 42%;
}

@media (max-width: 40rem) {
  .content {
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 85%;
  }

  .content img {
    height: 230px;
    width: 312px;
  }

  .content div {
    height: 400px;
    margin-top: 3rem;
    width: auto;
  }
}
