@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap');
* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  width: 100%;
}

button:focus,
input:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

.App {
  text-align: center;
}

.logo {
  align-items: flex-end;
  background-color: rgb(0, 200, 140);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  display: flex;
  height: 64px;
  justify-content: center;
  padding-bottom: 1rem;
  width: 48px;
}

.logo img {
  height: 24px;
  width: 24px;
}

.homeTitle {
  color: rgb(242, 242, 242);
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  width: 510px;
}

.homePar {
  color: rgb(242, 242, 242);
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  width: 510px;
}

.hr {
  border: 1px solid rgb(178, 178, 177);
  margin: 6rem;
  width: 45%;
}

.content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 984px;
}

.content h3,
.footer h3 {
  color: #3d3d3d;
  font-size: 28px;
  font-weight: 500;
  line-height: 32px;
}

.content p,
.footer p {
  color: #3d3d3d;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.content a,
.footer a {
  color: #5e20a4;
  font-size: 16px;
  font-weight: 500;
}

.socialLogo {
  border: 1px solid #dfdfdf;
  border-radius: 50px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}

.socialLogo:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.socialInner {
  height: 20px;
  width: 18px;
}

@media (max-width: 40rem) {
  .homeTitle {
    font-size: 28px;
    line-height: 32px;
    width: 272px;
    margin-bottom: 1rem;
  }

  .homePar {
    font-size: 16px;
    line-height: 28px;
    width: 328px;
  }

  .hr {
    margin: 3rem;
    width: 90%;
  }

  .content h3,
  .footer h3 {
    font-size: 22px;
  }
}
